<HTML>
<HEAD>
<title>FFA Private Bank - Cdr Admin</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</HEAD>
<body style="MARGIN: 0px">


<table cellSpacing="0" cellPadding="0"  align="center" border="0" >
	<TBODY>
		<tr>
	
			<td align="center">
				<table cellSpacing="0" cellPadding="0"  border="0">
				<TBODY><br>
			<tr><td><a  href="https://github.com/ffapb/ffa-cdr-admin" style="text-decoration: none">GitHub Link</a>&nbsp; <a  href="{% url 'admin:index' %}" style="text-decoration: none">Admin</a></td>
					</tr>
					
<tr>
						<td><br>
							<table cellSpacing="0" cellPadding="0"  border="0">
								<tr>
									<td align="left"><font size="5" color="#04366C"><b>FFA Private Bank sal</b></font>
									</td>

								</tr>
								<tr>
									<td align="right">&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</TBODY>

				</table>
                        </td>
		</tr>
	<tr>
			<td>

				<table cellSpacing="0" cellPadding="0" border="0" align="center">
					<tr>
						<td align = "center" height="25" >
						<div align="center">
						<FONT color="#ffffff"><MARQUEE bgcolor="#04366C" direction="left" loop="50"  scrolldelay="150">
						<STRONG>FFA Private Bank Cdr Admin</STRONG></MARQUEE></FONT></DIV>
						</td>

				</table>
			</td>
		</tr>

		
                <tr><td><a href=" ?asjson=true" style="text-decoration: none">asjson</a></td></tr><tr>
			<td height="12">
			</td>
		</tr>
<tr><td><table border=1>

<tr><th>superid</th><th>loan</th><th>liability</th><th>Guarantee Type</th><th>Guarantee</th><th>Currency Guarantee</th><th>Maturity Date</th><th>Country of utilization</th><th>Ledger</th><th>Currency Liability</th><th>Closed</th></tr>
{% for x in object_list %}
<tr><td>{{x.superid}}</td><td>{{x.loan}}</td><td>{{x.liability}}</td><td>{{x.guarantee_type}}</td><td>{{x.guarantee}}</td><td>{{x.currency_guarantee}}</td><td>{{x.maturity_date}}</td><td>{{x.country_of_utilization}}</td><td>{{x.ledger}}</td><td>{{x.currency}}</td><td>{{x.closed}}</td> </tr>
{% endfor %}
</table></td></tr>

		<tr>
			<td>
				<table height="50" cellSpacing="0" cellPadding="0" width="100%" border="0">
					<tr>
						<td height="12"  style=" BORDER-top: #ffffff 1px solid; "></td>
					</tr>

					<tr>
						<td height="4"  style=" BORDER-top: #ffffff 1px solid; " bgColor="#04366C"></td>
					</tr>
					<tr>
						<td bgColor="#f1f1f1" align ="right"><FONT color="#04366C" size="2">&nbsp;Developed by: Minerva Moawad - 2017&nbsp;</FONT></td>
					</tr>

				</table>
			</td>
		</tr>
		
	</TBODY>
</table>

</body>

</html>
