{% load humanize %}
<HTML>
<HEAD>
<title>FFA Private Bank - Cdr Admin</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</HEAD>
<body style="MARGIN: 0px">


<table cellSpacing="0" cellPadding="0"  align="center" border="0" >
	<TBODY>
		<tr>
	
			<td align="center">
				<table cellSpacing="0" cellPadding="0"  border="0">
				<TBODY><br>
            <tr>
              <td>
                <a  href="https://github.com/ffapb/ffa-cdr-admin" style="text-decoration: none">GitHub Link | </a>
                &nbsp;
                <a  href="{% url 'admin:index' %}" style="text-decoration: none">Admin | </a>
                <a  href="{% url 'cdradmin:index' %}" style="text-decoration: none">Superid To Loan Liablity | </a>
                &nbsp;
                <a  href="{% url 'cdradmin:entity_partnertype' %}" style="text-decoration: none">Entity To Partner Type </a>
              </td>
            </tr>

					
<tr>
						<td><br>
							<table cellSpacing="0" cellPadding="0"  border="0">
								<tr>
									<td align="left"><font size="5" color="#04366C"><b>FFA Private Bank sal</b></font>
									</td>

								</tr>
								<tr>
									<td align="right">&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</TBODY>

				</table>
                        </td>
		</tr>
	<tr>
			<td>

				<table cellSpacing="0" cellPadding="0" border="0" align="center">
					<tr>
						<td align = "center" height="25" >
						<div align="center">
						<FONT color="#ffffff"><MARQUEE bgcolor="#04366C" direction="left" loop="50"  scrolldelay="150">
						<STRONG>FFA Private Bank Cdr Admin</STRONG></MARQUEE></FONT></DIV>
						</td>

				</table>
			</td>
		</tr>

		
                <tr><td><a href=" ?asjson=true" style="text-decoration: none">asjson</a></td></tr><tr>
			<td height="12">
			</td>
		</tr>
<tr><td><table border=1>

<tr>
  <th>superid</th>
  <th>Ledger</th>
  <th>Subledger</th>
  <th>Currency Liability</th>

  <th>Loan type</th>
  <th>Liability type</th>
  <th>Loan amount</th>

  <th>Maturity Date</th>
  <th>Country of utilization</th>
  <th>Guarantee for</th>
  <th>Closed</th>
</tr>
{% for x in object_list %}
<tr {% if x.closed %} bgcolor="grey" {% endif %}>
  <td>{{x.superid}}</td>
  <td title="{{x.display_ledger_title}}">{{x.display_ledger_text}}</td>
  <td>{{x.subledger}}</td>
  <td>{{x.currency_liability.name}}</td>

  <td title="{{x.loan_type.long_description}}">{{x.loan_type.short_description}}</td>

  <td title="{{x.liability_type.long_description}}">{{x.liability_type.short_description}}</td>
  <td>{{x.loan_amount|intcomma}}</td>

  <td>{{x.maturity_date|date:"Y-m-d"}}</td>
  <td>{{x.country_of_utilization}}</td>
  <td nowrap>
    {% if x.guarantee_for %}
      {{x.guarantee_for.superid.superid}} / {{x.guarantee_for.ledger.ledger}} / {{x.guarantee_for.subledger}} / {{x.guarantee_for.currency_liability.name}}
    {% endif %}
  </td>
  <td>{{x.closed}}</td>
</tr>
{% endfor %}
</table></td></tr>

		<tr>
			<td>
				<table height="50" cellSpacing="0" cellPadding="0" width="100%" border="0">
					<tr>
						<td height="12"  style=" BORDER-top: #ffffff 1px solid; "></td>
					</tr>

					<tr>
						<td height="4"  style=" BORDER-top: #ffffff 1px solid; " bgColor="#04366C"></td>
					</tr>
					<tr>
						<td bgColor="#f1f1f1" align ="right"><FONT color="#04366C" size="2">&nbsp;Developed by: Minerva Moawad - 2017&nbsp;</FONT></td>
					</tr>

				</table>
			</td>
		</tr>
		
	</TBODY>
</table>

</body>

</html>
